*{
  font-family: serif;
}

body{
    background-color:aqua;
    
}

h1{
    text-align: center;
}

.container{
    margin: 0 auto; 
    height: auto;
    width: auto;
    padding: 5px 10px;    
}

p{
    color:red;
    font-size: 20px;   
}

